* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* width: 100%; */
	scroll-behavior: smooth;
}

/* body {
	background-color: #1f1f21;
	color: #fff;
	position: relative;
	text-align: center;
} */


body{
	overflow-x: hidden;
	font-family: 'Vollkorn', serif;
}

.App {
	width: 100vw;
	background-color: #1f1f21;
	color: #fff;
	position: relative;
	text-align: center;
	overflow-x: hidden;
}

.purple-highlight {
	color: #a38cee;
}

nav{
	display: flex;
	justify-content: space-between;
}

.mainLinks{
	display: flex;
	width: 45%;
	justify-content: space-between;
}

.clearNav, .coloredNav {
	/* background: rgba(31, 31, 33, 0.3); */
	position: fixed;
	width: 100vw;
	
	display: flex;
	align-items: center;
	height: 4em;
	padding: 0em 2em;
	font-size: 1.7rem;
	z-index: 100;
	/* border-radius: 70px; */
}

.clearNav{
	background: transparent;
	backdrop-filter: blur(7px);

}

.coloredNav{
	background: #000;
	display: flex;
	align-items: center;
	justify-content: space-between;

}


.defaultNavigation, .mobileNavigation{
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: space-around;
	color: #fff;
	font-size: 1.5rem;
	
}

.mobileNavigation{
	display: none;
}

.defaultNavigation > li >a, .mobileNavigation>li > a{
	color: #fff;
	text-decoration: none;
}

.defaultNavigation > li >a:hover{
border-bottom: 3px solid #a38cee ;
}


.navHamburger{
	width: 2em;
	height: 2em;
	top: 0.5em;
	color: #fff;
	position: absolute;
	right: 5%;
	cursor: pointer;
	display: none;
}


.intro {
	padding: 8em 0;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	/* overflow: hidden; */
	background: linear-gradient(180deg, #352b57 0%, #1f1f21 100%);
	height: 100vh;
}

.intro > h1 {
	font-size: 4rem;
}

.intro > p {
	text-align: center;
	font-size: 2rem;
	width: 70%;
}

.mainSkills > ul {
	margin: 3em 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2em;
}

.mainSkill {
	list-style: none;
	/* margin: 0 1em; */
	height: 7em;
	width: 7em;
	background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
	border-radius: 50%;
	box-shadow: 0px 20px 40px rgb(0 0 0 / 44%);
}

.mainSkill-img {
	width: 7em;
	height: 7em;
	padding: 1.5em;
}




.featured,
.recent {
	display: grid;
	gap: 3em;
	margin: 0 5em;
	grid-template-columns: repeat(2, 1fr);
}

.project {
	border-radius: 10px;
	text-align: center;
	/* height: 30em; */
	cursor: pointer;
}

.projectImage {
	width: 100%;
	width: 32em;
	height: 25em;
	border-radius: 10px;
	vertical-align: middle;
}

.technologies {
	display: flex;
	justify-content: center;
	text-align: center;
	max-width: 40vw;
	/* flex-wrap: wrap; */
}

.technology {
	background-color: #a38cee;
	border-radius: 3em;
	padding: 0.5em;
	margin: 0.5em;
}
.text {
	margin: 1em;
	/* margin-top: auto; */
}

.projectTitle {
	font-size: 2rem;
}

.projectDescription {
	font-size: 1.3rem;
}

.showMoreButton {
	background-color: #7262a4;
	border: none;
	border-radius: 10px;
	padding: 1em 2em;
	margin-top: 3em;
	color: #fff;
	font-size: 1.2rem;
	transition: 100ms background-color ease-in-out, 100ms scale ease-in-out;
}

.showMoreButton:hover {
	background-color: #493b73;
	scale: 1.1;
}

/* Gradient transparent - color - transparent */

hr {
	margin: 2em 0;
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.75),
		rgba(255, 255, 255, 0)
	);
}

.skillsSection {
	text-align: center;
}

.skillsGrid {
	display: grid;
	gap: 3em;
	grid-template-columns: repeat(4, 1fr);
	margin: 1em 3em;
}

.skill {
	background: linear-gradient(130.08deg, #383528 0%, #191919 100%);
	/* line-height: 100px; */
	box-shadow: 0px 20px 40px rgb(0 0 0 / 44%);
	padding: 1.5em;
	border-radius: 5px;
	text-align: center;
	height: 10em;
	/* width: 8em; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.skillImage {
	max-width: 4em;
	max-height: 4em;
	margin: 0.5em;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 8em;
	background-color: #212529;

	margin-top: 8em;
}

.footer-name {
	font-size: 5rem;
}

.footer-copyright {
	font-size: 1.3rem;
}

.section-header {
	margin: 2em 0;
	font-size: 3rem;
	text-transform: uppercase;
}

@media screen and (max-width: 1250px) {
	.projectImage {
		width: 100%;
		width: 22em;
		height: 17em;
		border-radius: 10px;
		vertical-align: middle;
	}
}

@media screen and (max-width: 950px) {
	.projectImage {
		width: 100%;
		width: 16em;
		height: 12.5em;
		border-radius: 10px;
		vertical-align: middle;
	}

	.projectTitle {
		font-size: 1.5rem;
	}

	.projectDescription {
		font-size: 1rem;
	}
}

@media screen and (max-width: 820px) {
	.projectImage {
		width: 100%;
		width: 20em;
		height: 15.5em;
		border-radius: 10px;
		vertical-align: middle;
	}

	.featured,
	.recent {
		display: grid;
		gap: 0em;
		margin: 0 1em;
		grid-template-columns: repeat(1, 1fr);
	}


	.clearNav{
		justify-content: center;
	}

	.footer-name {
		font-size: 3rem;
	}

	.technologies{
		max-width: 90vw;
		flex-wrap: wrap;

	}

	.skillsGrid {
		gap: 2em;
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-copyright {
		font-size: 1rem;
	}

	.intro > p {
		text-align: center;
		width: 60%;
	}


	.defaultNavigation{
		display: none;
	}

	.navHamburger{
		display:block;
	}


	.mobileNavigation {
		display: flex;
		/* align-items: center; */
		flex-direction: column;
		position: absolute;
		align-items: flex-start;
		top: 3.2em;
		right: 0;
		width: 100%;
		background-color: #181818;
		opacity: 0.9;
		/* border-top: 2px solid  #a38cee; */
		/* filter: blur(3px); */
	}

	.mobileNavigation > li{
		z-index: 200;
		/* padding: 0 4em; */
		opacity: 1;
		filter: blur(0px);
		width: 100%;
		text-align: left;
		padding: 0.25em 3em;
	}

	.mobileNavigation > li:first-child{
		border-top: 1px solid  #a38cee;
	}

	.mobileNavigation > li > a:hover{
		color: #a38cee;
	}



	.brand{
		display: none;
	}

	.clearNav, .coloredNav {
		/* background: rgba(31, 31, 33, 0.3); */
		
		height: 3em;

		/* border-radius: 70px; */
	}
	
}



@media screen and (max-width: 600px) {
	.section-header {
		margin: 2em 1em;
		font-size: 2.5rem;
		text-transform: uppercase;
	}

	.intro > h1{
		font-size: 2rem;
		width: 90%;

	}

	
	.intro > p {
		text-align: center;
		font-size: 1.5rem;
		width: 90%;
	}

	.mainSkills > ul {
		margin: 2em 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2em;
	}
}



@media screen and (max-height: 680px) {
.intro{
	/* padding-top: 4em; */
	padding: 22em 0;
}
}


@media screen and (max-width: 300px) {
	.intro > h1{
		font-size: 1,5rem;
		width: 90%;

	}

	
	.intro > p {
		text-align: center;
		font-size: 1.3rem;
		width: 90%;
	}
	}



	.featuredSection{
		padding-top: 3em;
	}